/* Setup */
@import url("./setup/variables.css");
@import url("./setup/typography.css");

/* Framework */
@import url("./framework/base.css");
@import url("./framework/helpers.css");
@import url("./framework/layout.css");

/* Components */
@import url("./components/about.css");
@import url("./components/canvas.css");
@import url("./components/footer.css");
@import url("./components/gallery.css");
@import url("./components/header.css");
@import url("./components/meme-editor.css");
@import url("./components/msg-box.css");
@import url("./components/nav.css");

/* Media queries */
@import url("./framework/mq.css");
