.btn {
    padding: 0.2em 1em;
    border: 1px solid var(--btn-border);
    border-radius: 0.5em;
    color: var(--btn-text);
    background-color: var(--btn-background);
    cursor: pointer;
}

.btn1 {
    padding: 0.2em 1em;
    border: 1px solid var(--btn1-border);
    border-radius: 0.5em;
    font-family: source-sans;
    font-size: 1em;
    color: var(--btn1-text);
    background-color: var(--btn1-background);
    cursor: pointer;
}

.btn1:hover {
    background-color: var(--btn1-highlight);
}

.btn-save {
    padding: 0.2em 1em;
    border: 1px solid var(--btn1-border);
    border-radius: 0.5em;
    font-family: source-sans;
    font-size: 1em;
    color: var(--btn1-text);
    background-color: var(--btn1-background);
    cursor: pointer;
}

.btn-save:hover {
    background-color: var(--btn1-highlight);
}
