.gallery-header {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-block-end: 1.5em;
}

.gallery-header > *:last-child {
    margin-inline-start: auto;
}

.gallery .images .image {
    background-color: lightgray;
}

.gallery .images img {
    display: block;
    width: 100%;
    cursor: pointer;
}

.gallery .images img:hover {
    opacity: 0.7;
}
