/* Layout */

.editor-top-panel {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.editor-top-panel > *:not(:first-child) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.editor-top-panel .line-actions > *:last-child {
    margin-left: 1.5em;
}

/* Design*/

.editor-layout {
    padding: 2em;
    border-radius: 1em;
    background-image: var(--meme-editor-gradient);
}

.page.editor .meme-line {
    width: 300px;
    padding: 0.3em 1em;
    border: 1px solid var(--primary-border);
    border-radius: 2em;
    font-family: source-sans;
    font-size: 1.2em;
}

.page.editor .add-line {
    background-color: var(--add-line-background);
}

.page.editor .add-line:hover {
    background-color: var(--add-line-hover);
}

.page.editor .switch-line {
    background-color: var(--switch-line-background);
}

.page.editor .switch-line:hover {
    background-color: var(--switch-line-hover);
}

.page.editor .remove-line {
    background-color: var(--remove-line-background);
}

.page.editor .remove-line:hover {
    background-color: var(--remove-line-hover);
}

.page.editor input[type="color"] {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;
}

.fa-solid.text-color::after {
    content: "";
    position: absolute;
    transform: translate(-1.5em, 1.25em);
    width: 2em;
    height: 0.4em;
    background-color: var(--line-color);
}

.fa-solid.text-fill-color::after {
    content: "";
    position: absolute;
    transform: translate(-1.65em, 1.25em);
    width: 2em;
    height: 0.4em;
    background-color: var(--line-fill-color);
}
