.editor-layout {
    padding: 2em;
    border-radius: 1em;
    background-color: var(--editor-background);
}

.page.editor .meme-line {
    width: 300px;
    padding: 0.3em 1em;
    border: 1px solid var(--primary-border);
    border-radius: 2em;
    font-family: source-sans;
    font-size: 1.2em;
}
