:root {
    /* Colors */
    --header-gradient: linear-gradient(to right, #fff0f6, #f783ac);
    --meme-editor-gradient: linear-gradient(to bottom, #e9ecef, #ffffff);
    --msg-box-gradient: linear-gradient(to right, #dee2e6, #e9ecef);

    --logo-part1: #e03131;
    --logo-part2: #962020;

    --nav-background: #fff3bf;
    --nav-link: #212529;

    --primary-text: #343a40;
    --primary-border: #343a40;

    --editor-background: #e9ecef;

    --card-background: #e9ecef;

    --btn-border: #495057;
    --btn-background: #e9ecef;
    --btn-hover: #dee2e6;

    --add-line-background: #b2f2bb;
    --add-line-hover: #8ce99a;

    --switch-line-background: #bac8ff;
    --switch-line-hover: #91a7ff;

    --remove-line-background: #ffc9c9;
    --remove-line-hover: #ffa8a8;
}
