* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: source-sans, sans-serif;
    color: var(--primary-text);
}

img {
    width: 100%;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}
