.main-layout {
    display: grid;
    grid-template-columns:
        minmax(20px, 1fr)
        minmax(600px, 5fr)
        minmax(20px, 1fr);
}

.main-layout > *:not(.full) {
    grid-column: 2;
}

.main-layout > *.full {
    grid-column: -1 / 1;
}

.cards-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
}

.editor-layout {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1fr;
    gap: 30px;
}

.editor-layout > :first-child {
    grid-row: 1 / 5;
    grid-column: 1;
    place-self: center end;
}

.editor-layout > :not(:first-child) {
    place-self: center center;
    display: flex;
    gap: 20px;
}
